<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#D4D4D4] min-h-screen flex items-center justify-center px-4">
    <div class="w-full max-w-[95%] sm:max-w-md md:max-w-lg h-auto flex items-center justify-center">
        <form method="POST" class="w-full border-[2px] border-black bg-white rounded-b-lg shadow-xl p-6">

            <!-- Logo -->
            <div class="border-b-[2px] border-black flex items-center justify-center pb-4">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='css/images/Logo.webp') }}" alt="Logo Crafted3D"
                        class="h-[50px] sm:h-[60px]">
                </a>
            </div>
            <div class="flex justify-center mt-4">
                <button onclick="window.history.back()" class="bg-gray-500 w-12 h-6 text-sm text-center text-white font-semibold  rounded-lg hover:bg-gray-600 transition-all">
                    Volver
                </button>
            </div>
            <h2 class="text-lg sm:text-xl md:text-2xl font-bold text-center mt-3 mb-4">Editar Perfil</h2>
            {{ form.hidden_tag() }}

            <div class="space-y-3">
                <!-- Email -->
                <div>
                    {{ form.email.label(class="block text-gray-700 text-xs sm:text-sm") }}
                    {{ form.email(class="w-full border-b-2 border-gray-300 focus:border-black focus:outline-none py-1 sm:py-2 text-xs sm:text-sm") }}
                    {% for error in form.email.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>

                <!-- Nombre Completo -->
                <div>
                    {{ form.nombre.label(class="block text-gray-700 text-xs sm:text-sm") }}
                    {{ form.nombre(class="w-full border-b-2 border-gray-300 focus:border-black focus:outline-none py-1 sm:py-2 text-xs sm:text-sm") }}
                    {% for error in form.nombre.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Botones de acción -->
            <div class="flex justify-between mt-4">
                <button type="submit" class="w-[45%] text-xs sm:text-sm bg-green-500 text-white font-semibold px-3 sm:px-4 py-2 rounded-lg hover:bg-green-600 transition-all">
                    Confirmar
                </button>
                <a href="{{ url_for('modificar_contraseña') }}" class="w-[45%] text-xs sm:text-sm bg-red-500 text-white font-semibold px-3 sm:px-4 py-2 rounded-lg hover:bg-red-600 transition-all text-center">
                    Cambiar Contraseña
                </a>
            </div>
        </form>
    </div>
</body>
