<!-- Footer -->
<footer>
    <div class="container mx-auto px-4 py-8">
        <!-- Logo -->
        <div class="flex flex-col items-center mb-8">
            <img src="/Crafted3D/app/static/css/images/Logo.webp" alt="Logo Crafted3D" class="h-16">
        </div>
        
        <!-- Contact and Social Media -->
        <div class="flex flex-col md:flex-row justify-between">
            <!-- Contact -->
            <div class="mb-8 md:mb-0">
                <h3 class="text-xl font-bold mb-2">¿Alguna Duda? Contacta con nosotros</h3>
                <div class="flex flex-col space-y-2">
                    <div class="flex items-center">
                        <i class="fab fa-whatsapp text-2xl text-green-500 mr-2"></i>
                        <span class="text-lg">+34 601 000 000</span>
                    </div>
                    <div class="flex items-center">
                        <i class="fas fa-envelope text-2xl text-red-500 mr-2"></i>
                        <span class="text-lg">crafted3dsoporte@gmail.com</span>
                    </div>
                </div>
            </div>
            
            <!-- Social Media -->
            <div>
                <h3 class="text-xl font-bold mb-2">Síguenos en nuestras redes sociales</h3>
                <div class="flex items-center space-x-4">
                    <a href="#" class="hover:text-pink-500"><i class="fab fa-instagram text-2xl"></i></a>
                    <a href="#" class="hover:text-blue-600"><i class="fab fa-facebook-square text-2xl"></i></a>
                    <a href="#" class="hover:text-black"><i class="fab fa-tiktok text-2xl"></i></a>
                    <a href="#" class="hover:text-[#1DA1F2]"><i class="fab fa-x-twitter text-2xl"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Copyright -->
    <div class="py-4">
        <div class="container mx-auto text-center text-sm">
            &copy; CRAFTED3D 2025
        </div>
    </div>
</footer>
