{% extends "base.html" %}

{% block title %}Inicio - Crafted 3D{% endblock %}

{% block content %}

<!-- Sección Hero: Imagen de Fondo Estática -->
<section class="bg-cover bg-center h-[600px]">
  <div class="flex items-center justify-center h-full bg-black bg-opacity-40">
    <h1 class="text-5xl font-bold text-white text-center">Bienvenido a Crafted 3D</h1>
  </div>
</section>


  
  
  
<section class="container mx-auto py-12 px-4">
  <h2 class="text-3xl font-bold text-center mb-8 text-[#39CB60]">Explora Nuestras Categorías</h2>
  <p class="text-center text-2xl mb-[30px]">Encuentra lo que necesitas para tu próximo proyecto creativo.</p>
  <div class="grid grid-cols-2 gap-8">
    <!-- Tarjeta 1: Escayolas 3D -->
    <a href="/productos/escayolas3D" class="block">
      <div class="bg-[#EEEEEE] rounded-lg overflow-hidden hover:shadow-lg transition-shadow cursor-pointer flex flex-col items-center p-6 h-[30vh]">
        <h3 class="text-2xl font-bold mb-1 text-center">Escayolas</h3>
        <p class="text-base mb-3 text-center">El futuro de la salud</p>
        <img src="{{ url_for('static', filename='css/images/Esc.png') }}" alt="Escayolas 3D" class="w-full h-40 object-cover rounded-md">
      </div>
    </a>
    <!-- Tarjeta 2: Almacenaje -->
    <a href="/productos/almacenaje" class="block">
      <div class="bg-[#EEEEEE] rounded-lg overflow-hidden hover:shadow-lg transition-shadow cursor-pointer flex flex-col items-center p-6 h-[30vh]">
        <h3 class="text-2xl font-bold mb-1 text-center">Almacenaje</h3>
        <p class="text-base mb-3 text-center">Diseña tu estilo interior</p>
        <img src="{{ url_for('static', filename='css/images/Alm.png') }}" alt="Almacenaje" class="w-3/4 h-40 object-cover rounded-md">
      </div>
    </a>
    <!-- Tarjeta 3: Herramientas -->
    <a href="/productos/herramientas" class="block">
      <div class="bg-[#EEEEEE] rounded-lg overflow-hidden hover:shadow-lg transition-shadow cursor-pointer flex flex-col items-center p-6 h-[30vh]">
        <h3 class="text-2xl font-bold mb-1 text-center">Herramientas</h3>
        <p class="text-base mb-3 text-center">La decoración sin límites</p>
        <img src="{{ url_for('static', filename='css/images/Her.png') }}" alt="Herramientas" class="w-3/4 h-40 object-cover rounded-md">
      </div>
    </a>
    <!-- Tarjeta 4: Gadgets -->
    <a href="/productos/gadgets" class="block">
      <div class="bg-[#EEEEEE] rounded-lg overflow-hidden hover:shadow-lg transition-shadow cursor-pointer flex flex-col items-center p-6 h-[30vh]">
        <h3 class="text-2xl font-bold mb-1 text-center">Gadgets</h3>
        <p class="text-base mb-3 text-center">La idea de tu vida</p>
        <img src="{{ url_for('static', filename='css/images/Gad.png') }}" alt="Gadgets" class="w-3/4 h-40 object-cover rounded-md">
      </div>
    </a>
    <!-- Tarjeta 5: Juguetes -->
    <a href="/productos/juguetes" class="block">
      <div class="bg-[#EEEEEE] rounded-lg overflow-hidden hover:shadow-lg transition-shadow cursor-pointer flex flex-col items-center p-6 h-[30vh]">
        <h3 class="text-2xl font-bold mb-1 text-center">Juguetes</h3>
        <p class="text-base mb-3 text-center">Disfruta tu niño interior</p>
        <img src="{{ url_for('static', filename='css/images/Jug.png') }}" alt="Juguetes" class="w-full h-40 object-cover rounded-md">
      </div>
    </a>
    <!-- Tarjeta 6: Decoración -->
    <a href="/productos/decoracion" class="block">
      <div class="bg-[#EEEEEE] rounded-lg overflow-hidden hover:shadow-lg transition-shadow cursor-pointer flex flex-col items-center p-6 h-[30vh]">
        <h3 class="text-2xl font-bold mb-1 text-center">Decoración</h3>
        <p class="text-base mb-3 text-center">La decoración sin límites</p>
        <img src="{{ url_for('static', filename='css/images/Dec.png') }}" alt="Decoración" class="w-full h-40 object-cover rounded-md">
      </div>
    </a>
  </div>
</section>



<!-- Sección Productos Destacados -->
<section class="container mx-auto py-12 px-4">
  <h2 class="text-3xl font-bold text-center mb-8">Productos Destacados</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
    {% for producto in productos_destacados %}
    <div class="border rounded-lg overflow-hidden hover:shadow-lg transition-shadow flex flex-col h-full bg-white">
      <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}" class="w-full aspect-square object-cover transition-transform duration-300 hover:scale-105">
      <div class="p-4 flex flex-col flex-1">
        <h3 class="text-xl font-bold mb-2">{{ producto['nombre'] }}</h3>
        <div class="rating-display mb-4">
          {% for i in range(5) %}
            <span class="star {% if i < producto['media_valoracion'] %}selected{% endif %}">★</span>
          {% endfor %}
        </div>
        <a href="{{ url_for('product.producto', producto_id=producto['id']) }}" class="mt-auto inline-block bg-[#39CB60] text-white px-4 py-2 rounded hover:bg-green-600 text-center w-full">
          Ver Producto
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>


<!-- Sección ¿Por qué comprar en Crafted3D? -->
<section class="bg-gray-100 py-12">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold text-center mb-8">¿Por qué comprar en Crafted3D?</h2>
    <div class="flex flex-col md:flex-row items-center justify-around">
      <!-- Ventaja 1 -->
      <div class="text-center p-4">
        <div class="flex justify-center">
          <img src="{{ url_for('static', filename='css/images/logo_pago 1.png') }}" class="w-[70%] object-cover">
        </div>
        <h3 class="font-bold text-xl mt-2">100% Pago Seguro</h3>
        <p class="mt-2">Tu seguridad es prioritaria.</p>
      </div>
      <!-- Ventaja 2 -->
      <div class="text-center p-4">
        <div class="flex justify-center">
          <img src="{{ url_for('static', filename='css/images/logo_pago 2.png') }}" class="w-[70%] object-cover">
        </div>
        <h3 class="font-bold text-xl mt-2">14 Días de Devolución</h3>
        <p class="mt-2">Si algo no encaja, lo solucionamos.</p>
      </div>
      <!-- Ventaja 3 -->
      <div class="text-center p-4">
        <div class="flex justify-center">
          <img src="{{ url_for('static', filename='css/images/logo_pago 3.png') }}" class="w-[70%] object-cover">
        </div>
        <h3 class="font-bold text-xl mt-2">Atención 24/7</h3>
        <p class="mt-2">Siempre estamos disponibles para ti.</p>
      </div>
    </div>
  </div>
</section>

<style>
  .star {
    cursor: pointer;
    font-size: 24px;
    color: gray;
}

.star.selected {
    color: gold;
}
</style>

{% endblock %}
